.albumInfo {
  margin-top: 20px;
  padding: 10px;
  width: 80%;

  p {
    margin: 0px !important ;
  }

  .albumName-container {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
  }

  .marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear infinite;
    padding-left: 100%;
  }

  @keyframes marquee {
    0% {
      transform: translate(0%);
    }

    100% {
      transform: translate(-100%);
    }
  }

  .album-info {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .album-release {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    color: whitesmoke;
  }
}
