@import "../../mixins.scss";

.queue-container {
  width: 30%;
  height: 400px;
  margin-top: 50px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  background-color: rgb(2, 34, 66);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  @include md {
    width: 100%;
    height: 35%;
    margin-top: 0;
  }

  @include phone {
    width: 100%;
  }
}

.queue {
  height: 85%;

  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  .upNext {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0px;
  }

  .queue-list {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    overflow: visible;

    .trackname {
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;

      //   display: -webkit-box;
      //   -webkit-line-clamp: 1;
      //   line-clamp: 1;
      //   -webkit-box-orient: vertical;

      .moving {
        &:hover {
          animation: marquee 12s linear infinite;
        }
      }

      font-size: 12px;
      @include md {
        font-size: 14px;
      }
    }

    .queue-item {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      justify-content: space-between;
      //   border: 2px solid green;
      width: 100%;
      background-color: var(--black3);
      border-radius: 20px;
      padding: 8px;
      margin: 10px 0px;

      &:hover {
        background-color: var(--orange);
        transform: scale(1.05);
        cursor: pointer;
      }

      .time-duration {
        width: 13%;
        font-size: 12px;
        @include md {
          font-size: 14px;
        }
      }
    }

    .active {
      color: white;
      background-color: var(--orange);
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}
